---
layout: markdown_page
title: "Hiring Charts"
---

## Hiring Charts

<% departments = Gitlab::Homepage::Team.new.unique_departments() %>

<ul>
<% departments.each do |slug, name| %>
  <li><a href="/handbook/hiring/charts/<%= slug %>/"><%= name %></a></li>
<% end %>
</ul>
